// Font sizes
$font-size-xxl: 20px;
$font-size-m: 14px;
$font-size-s: 12px;

// Line heights
$line-height-m: 20px;

// Colors - Text
$color-text: #21225F;
$neutral-500: #6D6E9C;
$secondary-100: #B2B2E4;
$secondary-500: #2D2E83;
