@import '../../../styles/variables';

.home {
  min-height: 100vh;
  padding-top: 9px;
  background-color: #f8f9fc;

  &__container {
    max-width: 835px;
    background: white;
    padding: 25px 23px;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-size: $font-size-xxl;
    font-weight: bold;
    letter-spacing: 0px;
    color: $color-text;
  }

  &__search-wrapper {
    margin-bottom: 2.5rem;
    
  }

  &__results {
    margin-top: 2rem;
  }

  &__results-heading {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &__jokes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.joke-card {
  max-width: 785px;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #E2E4F0;
  border-radius: 8px;

  &__content {
    margin: 0 0 1rem;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $color-text;
  }

  &__twopart {
    margin-bottom: 1rem;
  }

  &__setup {
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $color-text;
  }

  &__delivery {
    margin: 0;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $color-text;
  }

  &__tags {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    height: 24px;
    font-size: $font-size-s;
    line-height: 130%;
    font-weight: 600;
    color: $secondary-500;
    background-color: transparent;
    border: 1px solid $secondary-100;
    border-radius: 500px;
    text-transform: capitalize;
  }
}
